body {
    font-family: 'Raleway', sans-serif;
}



h1 {
    color: #616161;
    font-size: 24px;
    font-weight: 100;
    line-height: 28.8px;
    margin-bottom: 0;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color:black;
    font-size:16px;
    font-weight: 100;
    line-height: 19px;
    text-transform: capitalize;
}

p {
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}


.weather-app-wrapper {
   background-color: #CDDCDC;
 background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
 background-blend-mode: screen, overlay;
    max-width: 600px;
    margin: 30px auto;

}
.weather-app {    
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}
.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #212121;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;

}

.coded {
     color: black;
     font-family: 'Special Elite', cursive;
     font-size: 14px;
     font-weight: 500;
}


.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 10px;
}

.weather-forecast h3 {
    font-family: 'Nunito', sans-serif;
    color: #455A64;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
}

.weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
}

.weather-forecast-temperature {
    text-align: center;
    color:black;
    font-size: 13px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
}
.github {
    color: #00796B;
}
.github:hover {
    color: #757575;
}
